body {
	height:100vh;
    margin: 0;
}

div div {
	width:100px;
	height:100px;
	background: #465C69;
	border-radius:50%;
    position: absolute;
    top: 5%;              /* 5% of what????????????????????*/
    left: 20px;
}

nav {
	border-bottom:solid;
	background:#333;
    position: fixed;
    top: 0px;
    z-index: 1;
}

nav > div {
	height:120px;
}

nav {
	width:100%;
}

ul {
	border-right: solid;
	width: 100px;
	height: 100%;
	padding: 10px 0;
	margin-top: 120px;
}

ul li:hover {
	color: #465C69;
}

img {
	width:500px;
    margin: auto;
    display: block;
    top: 100px;
    position: absolute;
    left:350px;
}

h1{
    position: absolute;
    right: 20px;
    top:50%;                                         /* 50% of what???????????*/
}


